{% load static %}

<section class="all_post section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    
                    {% for p in page_obj %}
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_post post_1">
                                <div class="single_post_img">
                                    <img src="/{{p.post_image}}" alt="">
                                </div>
                                <div class="single_post_text text-center">
                                    <p><h5> {{p.category.name}}</h5></p> 
                                    <a href="{% url 'single_post' p.id %}"><h2>{{p.title}}</h2></a> 
                                    <p>{{p.created_at|date:"F d, Y"}}</p>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                        


                </div>
                <!-- Pagination -->
            <div class="page_pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <!-- Previous button -->
                        {% comment %} <li class="page-item" {% if not page_obj.has_previous %}disabled{% endif %}>
                            <a class="page-link" href="/?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                        </li> {% endcomment %}

                        <!-- Page number buttons -->
                        {% for num in page_obj.paginator.page_range %}
                            <li class="page-item" {% if page_obj.number == num %}active{% endif %}>
                                <a class="page-link" href="/?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}

                        <!-- Next button -->
                        {% comment %} <li class="page-item" {% if not page_obj.has_next %}disabled{% endif %}>
                            <a class="page-link" href="/?page={{ page_obj.next_page_number }}">Next</a>
                        </li> {% endcomment %}
                    </ul>
                </nav>
            </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar_widget">
                    <div class="single_sidebar_wiget search_form_widget">
                        <form action="{% url 'search_content' %}" method="GET">
                            <div class="form-group">
                                <input type="text" name="search" class="form-control" placeholder='Search Keyword'
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                <div type="submit" class="btn_1">search</div>
                            </div>
                        </form>
                    </div>
                    <div class="single_sidebar_wiget">
                        <div class="sidebar_tittle">
                            <h3>Categories</h3>
                        </div>
                        <div class="single_catagory_item category">
                            <ul class="list-unstyled">
                                {% for category in categories %}
                                    <li>
                                        <p>{{ category.name }}</p>
                                        <span>({{ category.post_count }})</span>
                                    </li>
                                {% empty %}
                                    <li>No categories available</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>